.custom-container {
    min-width: 100vw;
    min-height: 100vh;
}

.custom-card {
    width: 450px;
    height: 480px;
}

.custom-spinner {
    width: 4rem;
    height: 4rem;
}

.btn-cursor {
    cursor: pointer;
}
